---
layout: page
title: Tags
header: Posts By Tag
group: navigation
---
{% include setup %}

<ul class="list-group">
	{% assign tags_list = site.tags %}
	{% if tags_list.first[0] == null %}
		{% for tag in tags_list %} 
			<li class="list-group-item">
				<span class="badge">{{ site.tags[tag].size }}</span>
				<a href="{{ BASE_PATH }}{{ site.tags_path }}#{{ tag }}-ref">
					{{ tag }}
				</a>
			</li>
		{% endfor %}
	{% else %}
		{% for tag in tags_list %} 
			<li class="list-group-item">
				<span class="badge">{{ tag[1].size }}</span>
				<a href="{{ BASE_PATH }}{{ site.tags_path }}#{{ tag[0] }}">
					{{ tag[0] }}
				</a>
			</li>
		{% endfor %}
	{% endif %}
	{% assign tags_list = nil %}
</ul>

{% for tag in site.tags %} 
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title" id="{{ tag[0] }}">
				{{ tag[0] }}
			</h3>
		</div>
		<div class="panel-body">
			<ul>
				{% assign pages_list = tag[1] %}  
				{% include pages_list %}
			</ul>
		</div>
	</div>
{% endfor %}
