---
theme:
 name: bootstrap-3.1.1
---
{% include setup %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<meta name="author" content="{{ site.author.name }}" />
		
		<title>{{ site.title }} -{{ site.tagline }}- {{ page.title }}</title>
		
		<link rel="stylesheet" href="{{ ASSET_PATH }}/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ ASSET_PATH }}/css/bootstrap-theme.min.css">
		
		
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		{% include features/analytics %}
	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand" href="#">{{ site.title }}</div>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						{% assign pages_list = site.pages %}
						{% assign group = 'navigation' %}
						{% include pages_list %}
						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Extra <b class="caret"></b></a>
							<ul class="dropdown-menu">
								{% assign pages_list = site.pages %}
								{% assign group = 'extra' %}
								{% include pages_list %}
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	
		<div class="container">
			<div class="row">
				<div class="col-sm-8 blog-main">
					{{ content }}
				</div>
				
				<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
					<!--<h4>Archives</h4>
					<div class="well">
						<ol class="list-unstyled">
							{% for post in site.posts %}
								{% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
								{% capture last_month %}{{ post.previous.date | date: "%B" }}{% endcapture %}
								{% if this_month != last_month %}
									<li><a href="#">{{ post.date | date: "%B %Y" }}</a></li>
								{% endif %}
							{% endfor %}
						</ol>
					</div>-->
					
					<h4>Elsewhere</h4>
					<div class="well">
						<ol class="list-unstyled">
							{% if site.author.github %}
							<li class="github"><a href="http://github.com/{{ site.author.github }}/" rel="me">GitHub</a></li>
							{% endif %}
							{% if site.author.twitter %}
							<li class="twitter"><a href="http://twitter.com/{{ site.author.twitter }}/" rel="me">Twitter</a></li>
							{% endif %}
						</ol>
					</div>
				</div>
			</div>
		</div>
		
		<footer class="navbar navbar-default navbar-fixed-bottom" role="navigation">
			<div class="container">
				<p><small>Hosted on <a href="http://pages.github.com/">GitHub Pages</a></small></p>
				<p><a href="#">Back to top</a></p>
			</div>
		</footer>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{{ ASSET_PATH }}/js/bootstrap.min.js"></script>
	</body>
</html>
